.header-bar{
    background-color: #292929;
}

.input-dark{
    background-color: #444;
    border: transparent;
    color: #ffffff;
}

.input-dark:focus{
    color: #ffffff;
    background-color: #555;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.container--narrow{
    max-width: 732px;
}

.avatar-tiny{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.form-control-title{
    font-size:2rem;
    font-weight: 500;
}

.body-content{
    font-size: 1.2rem;
    line-height:1.75;
    color: #292929;
}

textarea.tall-textarea{
    height: 160px;

}

@media (min-width: 768px){
    textarea.tall-textarea{
        height: 320px;
    
    }
}

.delete-post-button{
    cursor: pointer;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
}