.header-bar{
    background-color: #292929;
}

.input-dark{
    background-color: #444;
    border: transparent;
    color: #ffffff;
}

.input-dark:focus{
    color: #ffffff;
    background-color: #555;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.container--narrow{
    max-width: 732px;
}

.avatar-tiny{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.form-control-title{
    font-size:2rem;
    font-weight: 500;
}

.body-content{
    font-size: 1.2rem;
    line-height:1.75;
    color: #292929;
}

textarea.tall-textarea{
    height: 160px;

}

@media (min-width: 768px){
    textarea.tall-textarea{
        height: 320px;
    
    }
}

.delete-post-button{
    cursor: pointer;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
}

.avatar-small{
    width: 32px;
    height: 32px;
    border-radius:16px;
    margin-right: 5px;
    position: relative;
    top: -3px;
}

.chat-wrapper{
    position: fixed;
    z-index: 5;
    bottom: 0;
    right: 20px;
    width: 290px;
    height: 350px;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    transform: translateY(100%);
}

.chat--visible{
    opacity: 1;
    transform: translateY(0);
}

.chat-title-bar{
    background-color:#292929;
    color: #fff;
    padding: 4px 7px;
    display: flex;
    justify-content: space-between;
}

.chat-title-bar-close{
    opacity: .7;
    cursor: pointer;
}

.chat-title-bar-close:hover{
    opacity: 1;
}

.chat-log{
    padding: 8px;
    flex: 1;
    overflow: auto;
}

.chat-self, .chat-other{
    font-size:0.75rem;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.chat-self {
    padding-left: 25%;
}

.chat-self .chat-avatar{
    margin-left: 6px;
}

.chat-self .chat-message{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.chat-self .chat-message-inner {
    text-align: right;
    padding: 4px 7px;
    border-radius: 12px;
    background-color: #007bff;
    color: #FFF;
}

.chat-other {
    padding-right: 25%;
}

.chat-other .chat-avatar{
    margin-right: 6px;
}

.chat-other .chat-message{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.chat-other .chat-message-inner {
    padding: 4px 7px;
    border-radius: 12px;
    background-color: #f1f0f0;
}

.chat-message a {
    color: #212529
}

.chat-field{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 7px;
    border: none;
    outline: none;
    font-size:0.75rem;
}
